@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

#card{
    font-size: 80px;
    align-content: center;
    margin-top: 10px;
    background: white;
    width: 280px;
    height: 400px;
    border-radius: 5%;
    box-shadow: 10px 10px 100px rgb(46, 46, 46)
}

#topNumber{
    text-align: start;
}

#midNumber{
    padding: 20px;
}

#botNumber{
    text-align: start;
    transform: rotate(180deg);
}